[alias]
  a = add
  p = push
  b = branch
  s = status
  aa = add --all
  co = checkout
  ec = config --global -e
  cm = commit -m
  amend = commit -a --amend
  branches = branch -a
  remotes = remote -v
  l = log --relative-date --graph --abbrev-commit -10
  ll = log --relative-date --graph --abbrev-commit
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  db = branch -d

